.xs{
    background-color: brown;
}

.sm{
    background-color: aqua;
}

.md{
    background-color: orange;
}

.lg{
    background-color: blueviolet;
}

.xl{
    background-color: greenyellow;
}

.xll{
    background-color: green;
}